body { 
    font-family: sans-serif; 
}

img {
    max-width: 200px; margin-top: 5px; 
}

.card {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 10px; 
    margin: 10px 0; 
}

.exercicio-nome {
    font-size: 1.25rem;
    font-weight: bold;
    color: #f97316;
    margin-bottom: 0.5rem;
}

.dia-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f97316;
    margin-bottom: 1rem;
    text-align: center;
}

.video-link {
    color: #f97316;
    text-decoration: underline;
}

.video-link:hover {
    color: #a04c10;
}

/* Animação de fade in com leve movimento pra cima */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }  

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slide-down {
    animation: slideDown 0.8s ease-out forwards;
  }  